#TOC { 
  position: fixed; 
  left: 5px; 
  top: 0; 
  padding-top: 100px; 
  width: 220px; 
  overflow:auto; 
  color: #003C5C;  
  background-image: url("figs/wur-logo.png"); 
  background-repeat : no-repeat; 
  background-position: 5px 30px; 
} 

#logo { 
  position: fixed; 
  left: 5px; 
  top: 0; 
  padding-top: 100px; 
  width: 220px; 
  overflow:auto; 
  color: #003C5C;  
  background-image: url("figs/wur-logo.png"); 
  background-repeat : no-repeat; 
  background-position: 5px 30px; 
}

body { 
  font-family: "Calibri", "Verdana", Helvetica, sans-serif; 
  max-width: 800px; 
  margin: auto; 
  margin-left: 230px; 
  line-height: 20px; 
} 

a { 
    color: #003C5C; 
} 
 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 { 
  font-family: "Calibri Lighrt", "Calibri", "Verdana", Helvetica, sans-serif; 
  color: #003C5C;  
} 
